#navigationbar {
    z-index: 1;
}

#name {
    z-index: 1;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #fff;
    font-family: 'Poppins', sans-serif;
}

#based {
    font-family: 'Poppins', sans-serif;
    z-index: 1;

}

.scroller {
    z-index: 1;
    height: 1.2em;
    line-height: 1.2em;
    position: relative;
    overflow: hidden;
    font-size: 55px;
    /* margin-top: 22%; */

}

.scroller>span {
    position: absolute;
    top: 10;
    animation: slide 6s infinite;
    font-weight: bold;
    color: #fff;
}

@keyframes slide {
    0% {
        top: 0;
    }

    25% {
        top: -1.2em;
    }

    50% {
        top: 0;
    }

    75% {
        top: 1.2em;
    }

}

#profile {
    z-index: 1;
}

